.container {
    margin: 0;
    padding: 0;
    color: white; 
    box-sizing: border-box;
    display: flex;
    align-items: flex-start; 
    font-family: "Blinker";
}

.background_apresentacao{
    width: 100vw;
    min-height: 100vh;
    background-color: black;
}

.saudacao {
    width: 30%;
    height: 20%;
    margin-top: 5rem;
    margin-left: 5rem;
    
    display: flex;


}

.saudacao h1 {
    font-size: 3em;
    margin: 0; 
}

.especializacao {
    width: 30%;
    height: 6%;
    margin-left: 5rem; 
    

}
.especializacao img {
    width: 6%;
    padding-left: 1%;

}

.especializacao h1 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 300;

}

.especializacao hr {
    width: 80%;
    margin-left: 0;
    margin-top:0;
  }
  

.sobreprojeto {
    width: 35%;
    height: 32%;
    margin-left: 5rem;
    margin-top: 2rem; 
   

}

.sobreprojeto h1 {
    margin: 0;
    text-align:left;
    font-weight: lighter;

}

.fotoperfil {
    width: 30%;
    height: 64%;
    float: right;
    margin-right: 5rem;
    margin-top: 5rem;


}

.fotoperfil img {
    width: 100%;
    height: 100%;
    border-radius: 8px;

}

.buttond{
    margin-left: 5rem;
}

.dale{
    position: relative;
    display: inline-block;
    padding: 1rem 2.5rem; 
    margin-left: 38%;
    margin-top: 5%;
    color: #03e9f4;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;
   
}
.dale:hover{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
.dale:nth-child(1){
    filter: hue-rotate(270deg);
}
.dale:nth-child(2){
    filter: hue-rotate(110deg);
}
.dale span{
    position: absolute;
    display: block;
}
.dale span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#03e9f4);
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
.dale span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
.dale span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}


.dale span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}