.container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
}

.background_side {
  flex: 1;
  width: 120vh;
  height: 100vh;
  background-image: url("../../../../assets/img/escritorio.jpg");
  background-size: cover;
  background-position: center;
}

.form {
  flex: 1;
  width: 20rem;
  margin: 0 auto;
  padding: 5%;
  background-color: #f1f1f1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
  text-align: center;
  margin-bottom: 20px;
}

.logo img {
  width: 250px;
  height: 80px;
}

.formGroup {
  padding: 15px;
}

.input {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

.link {
  display: block;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  color: #007bff;
  font-size: 14px;
}

.link:hover {
  text-decoration: underline;
}
